/*
 *  File Name : /entry/scss/pages/_ranking.scss
 *  Description : ranking
 */

.section__item-ranking {
    margin-top: 15px;

    .section__title {
        @extend %space-margin;

        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        position: relative;
        height: 40px;

        &--left {
            position: absolute;
            left: 0;

            h3 {
                @include fontStyle($weight: bold, $size: 18px, $family: $G-font-family);

                float: left;
            }
            .button-all {
                @include fontStyle($family: $G-font-family);

                float: left;
                margin-left: 8px;
                color: $G-color-gray-777;

                &::after {
                    margin-left: 7px;
                }
            }
        }
        &--right {
            position: absolute;
            right: 0;

            .select-age {
                @include fontStyle($size: 14px, $family: $G-font-family);

                border: 0;
                border-radius:0;
                -webkit-appearance:none;
                -moz-appearance:none;
                appearance:none;
                text-align-last: right;
                outline: 0;

                &::-ms-expand{ 
                    display: none;
                }
            }
            &::after {
                position: relative;
                top: 1px;
                margin-left: 3px;
            }            
        }
    }
    .product-list {
        &__area {
            @extend %space-margin;

            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        &__item {
            width: calc(100% / 3 - 4.5px);
            margin: 0 1.5px 20px;

            &--colum2 {
                width: calc(100% / 2 - 3px);
                
                .product-list__price {
                    em {
                        font-size: 15px;
                    }
                }
                .product-list__badge {
                    max-width: 75px;
                }
                .product-list__badge-sale {
                    font-size: 15px;
                }
            }
        }
        &__link {
            display: block;
            position: relative;

            .badge-rank {
                @include fontStyle($family: $G-font-family);
                @include textStyle($color: $G-color-white, $line-height: 24px);

                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                width: 24px;
                height: 24px;
                background-color: $G-color-gray-aaa;
                text-align: center;
            }
        }
        &__image {
            overflow: hidden;
            position: relative;
            padding-top: 120%;

            img {
                @extend %image-position-center;
            }
        }
        &__info {
            margin-top: 10px;
        }
        &__name {
            @include fontStyle($family: $G-font-family);
            @include ellipsis(1);

            color: $G-color-gray-777;
        }
        &__price {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            position: relative;
            height: 22px;
            line-height: 22px;

            em {
                @include fontStyle($weight: bold, $size: 13px, $family: $G-font-family);
                @include ellipsis(1);

                display: inline-block;
                position: absolute;
                left: 0;
                max-width: calc(100% - 65px);
                line-height: 22px;
            }
        }
        &__badge {
            position: absolute;
            right: 0;
            max-width: 65px;

            &-sale {
                @include fontStyle($weight: bold, $size: 12px, $family: $G-font-family);
                @include textStyle($color: $G-color-point-red, $line-height: 22px);

                display: inline-block;
                margin: 0 2px;
            }
            &-coupon {
                @include fontStyle($weight: 500, $size: 9px, $family: $G-font-family);

                display: inline-block;
                margin: 0 2px;
                padding: 0 5px;
                background-color: #4162c9;
                border-radius: 2px;
                color: $G-color-white;
                line-height: 18px;

                &:not(.product-list__badge-coupon--on) {
                    display: none;
                }
            }
        }
    }
    .bottom-box {
        &__area {
            @extend %space-margin;
        }
        &__update {
            @include fontStyle($family: $G-font-family);

            color: $G-color-gray-aaa;
        }
        &__button {
            margin-top: 7px;
            text-align: center;

            .button__type-1::after {
                margin-left: 7px;
            }
        }
    }
}