/*
 *  File Name : /entry/scss/pages/_update.scss
 *  Description : update
 */
 
 .section__item-update {
    margin-top: 25px;

    
    .section__title {
        @extend %space-margin;

        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        position: relative;
        height: 40px;

        h3 {
            @include fontStyle($weight: bold, $size: 18px, $family: $G-font-family);
        }
        .button-all {
            @include fontStyle($family: $G-font-family);

            position: absolute;
            right: 0;
            color: $G-color-gray-777;

            &::after {
                margin-left: 7px;
            }
        }
    }
    .product-list__area {
        @extend %space-margin;

        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;

        .product-list {
            &__link {
                display: block;
                position: relative;
            }
            &__image {
                overflow: hidden;
                position: relative;
    
                img {
                    @extend %image-position-center;
                }
            }
            &__info {
                overflow: hidden;
                margin-top: 3px;
            }
            &__name,
            &__time {
                @include fontStyle($family: $G-font-family);
                @include textStyle($color: $G-color-gray-777);
                @include ellipsis(1);
                
                float: left;
                max-width: calc(100% - 80px);
            }
            &__comment {
                @include fontStyle($family: $G-font-family);
                @include textStyle($color: $G-color-gray-777);
                
                float: left;
                max-width: 80px;
                
                &::before {
                    content: '';
                    display: inline-block;
                    width: 2px;
                    height: 2px;
                    margin: 0 6px;
                    background-color: $G-color-gray-777;
                    border-radius: 1px;
                    vertical-align: middle;
                }
                &-point {
                    color: $G-color-point-blue;
                }
            }
        }
    }
    .product-list__area-type1 {
        .product-list {
            &__item {
                width: calc(100% / 2 - 3px);
                margin: 0 1.5px 25px;
            }
            &__image {
                padding-top: 65%;
                border-radius: 6px;
            }
            &__title {
                @include fontStyle($weight: bold, $size: 15px, $family: $G-font-family);
                @include textStyle($line-height: 22px);
                @include ellipsis(2);

                margin-top: 10px;
                height: 44px;
            }
        }
    }
    .product-list__area-type2 {
        .product-list {
            &__item {
                width: calc(100% / 4 - 3px);
                margin: 0 1.5px 3px;
            }
            &__image {
                padding-top: 85%;
            }
            &__more-view {

            }
            &__info-area {
                margin-top: 7px;
                margin-bottom: 30px;
                width: 100%;
                height: 40px;
            }
            &__title {
                @include fontStyle($weight: bold, $size: 15px, $family: $G-font-family);
                @include textStyle($line-height: 22px);
                @include ellipsis(1);
            }
            &__showcase {
                display: inline-block;
                height: 18px;
                margin-left: 13px;
                padding: 0 7px;
                background-color: $G-color-white;
                border: 1px solid #eee;
                border-radius: 9px;
                font-size: 10px;
                line-height: 18px;
                text-align: center;

                &:not(.product-list__showcase--on) {
                    display: none;
                }
            }
            &__more-view {
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: column;
                flex-direction: column;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: center;
                align-items: center;

                &-text {
                    @include fontStyle($size: 10px, $family: $G-font-family);

                    text-align: center;

                    em {
                        @include fontStyle($weight: bold, $size: 16px, $family: $G-font-family);

                        position: relative;
                        top: 1px;
                        margin-right: 5px;
                    }
                }
                &-button {
                    display: inline-block;
                    height: 20px;
                    margin-top: 5px;
                    padding: 0 10px;
                    line-height: 20px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
            }
        }
    }
    .button-box {
        &__area {
            margin-bottom: 60px;
            text-align: center;

            .button__type-1::before {
                margin-right: 5px;
                margin-top: -5px;
            }
        }
    }
}