/*
 *  File Name : /entry/scss/abstracts/_placeholder.scss
 *  Description : placeholder
 */

%space-margin{
    margin: 0 15px;
}

%image-position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}